.openbtn {
    font-size: 24px;
    cursor: pointer;
    background-color: lightblue;
}

#main {
    transition: margin-left .5s;
}

#dashboard-content {
    height: 100%;
    width: 100%;
}

.full-size-div {
    height: inherit;
    width: inherit;
    background: #e8e8e8;
}

.dashboard-body {
    display: inline;
    margin-left: 150pt;
    font-size: 18px;
}